<ion-header>

  <ion-navbar color="color1">
    <ion-title>Jalur</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-card>
    <ion-card-header>
      <h2 class="text-center text-bold">WAKTU PENDAFTARAN</h2>
    </ion-card-header>
    <ion-card-content>
      <table *ngFor="let data of gelombangList; let i=index">
        <thead>
          <tr>
            <td colspan="2" class="text-center text-bold">Gelombang {{i + 1}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pendaftaran</td>
            <td><div>{{dateName(data.attributes.mulai)}} — {{dateName(data.attributes.selesai)}} </div></td>
          </tr>
          <tr>
            <td>Biaya</td>
            <td>Rp. {{data.attributes.biaya}}</td>
          </tr>
          <tr>
            <td>Ujian</td>
            <td><div>{{dateName(data.attributes.ujian)}}</div></td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  
  </ion-card>

    <ion-card>
      <ion-card-header>
        <h2 class="text-center text-bold">JALUR MASUK</h2>
      </ion-card-header>
      <ion-card-content>
        
        <ion-list>
          <ion-item-group>
            <ion-item-divider color="light" text-center>Jalur Tes</ion-item-divider>
            <div>
                Jalur Tes adalah seleksi penerimaan mahasiswa baru yang diselenggarakan secara mandiri oleh Universitas Madura. Seleksi dengan jalur ini merupakan pola seleksi berdasarkan hasil tes tertulis dan praktik komputer untuk Jurusan Teknik Informatika.
            </div>
          </ion-item-group>
        </ion-list>  

        <ion-list class="space-2">
            <ion-item-group>
              <ion-item-divider color="light" text-center>Jalur Prestasi</ion-item-divider>
              <div>Jalur Prestasi adalah fasilitas bagi calon mahasiswa baru yaitu:</div>
              <div class="jalur_prestasi">
                <h2 class=" text-bold"><ion-icon name="md-checkmark" color="secondary"></ion-icon> Bebas Biaya Bangunan</h2>
                <div class="left-1">1. Bagi Rangking 1-3 Tingkat Sekolah</div>
                <div class="left-1">2. Bagi Rangking 1-3 Tingkat Kelas jika Mendaftar ke FKIP</div>
                <div class="left-1">3. uara 1-3 Lomba yang diadakan Prodi di Universitas Madura jika mendaftar ke Prodi Penyelenggara Lomba</div>
              </div>
              <div class="jalur_prestasi">
                <h2 class=" text-bold"><ion-icon name="md-checkmark" color="secondary"></ion-icon> Bebas DPP/SPP 1 Semester</h2>
                <div class="left-1">Jika Juara 1 Lomba Tingkat Kabupaten (mewakili sekolah)</div>
              </div>
            </ion-item-group>
          </ion-list> 

      </ion-card-content>
    
    </ion-card>
</ion-content>
