page-beasiswa {
    .content-md {
        background-color: #f4f4f4;
    }
    .text-center{
        text-align: center;
    }
    .text-bold{
        font-weight: bold;
    }
    table{
        width: 100%;
    }
    table tr {
        border-bottom: 1px solid #ddd;
    }
    table tr td{
        padding: 10px
    }
    table tr th{
        padding: 10px
    }
}
