<ion-header>

  <ion-navbar color="color1">
    <ion-title>Beasiswa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>

    <ion-card-header>
      <h2 class="text-center text-bold">BEASISWA</h2>
    </ion-card-header>

    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Kategori</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><div>BEASISWA PPA</div></td>
          </tr>
          <tr>
            <td>2</td>
            <td><div>BEASISWA BIDIKMISI</div></td>
          </tr>
          <tr>
            <td>3</td>
            <td><div>BEASISWA BANK JATIM</div></td>
          </tr>
          <tr>
            <td>4</td>
            <td><div>BEASISWA PT DUA PUTRI KEDATON</div></td>
          </tr>
          <tr>
            <td>5</td>
            <td><div>BEASISWA DARI YAYASAN</div></td>
          </tr>
          <tr>
            <td>6</td>
            <td><div>BEASISWA PEMKAB DI MADURA</div></td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
    
  </ion-card>
</ion-content>
