<ion-header>

  <ion-navbar color="color1">
    <ion-title>biaya</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>

      <ion-card-header>
        <h2 class="text-center text-bold">BIAYA KULIAH</h2>
      </ion-card-header>

      <ion-card-content>
          <table>
            <thead>
              <tr>
                <th>Kategori</th>
                <th>Komponen Biaya</th>
                <th>Jumlah</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><div>Mahasiswa Baru (Layanan Kesehatan, Pengenalan Kampus, Asuransi, dll)</div></td>
                <td>540.000</td>
              </tr>
              <tr>
                <td>2</td>
                <td>DPP / SPP Perbulan</td>
                <td>200.000</td>
              </tr>
              <tr>
                <td>3</td>
                <td><div>Uang Gedung / Pembangunan (Dicicil 6x dalam 1 tahun)</div></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td><div>— Gelombang 1</div></td>
                <td>2.000.000</td>
              </tr>
              <tr>
                <td></td>
                <td><div>— Gelombang 2</div></td>
                <td>2.500.000</td>
              </tr>
              <tr>
                <td></td>
                <td><div>— Gelombang 3</div></td>
                <td>3.000.000</td>
              </tr>
              <tr>
                <td>4</td>
                <td><div>	Heregistrasi per Semester</div></td>
                <td>25.000</td>
              </tr>
              <tr>
                <td>5</td>
                <td><div>UAS per mata kuliah</div></td>
                <td>15.000</td>
              </tr>
              <tr>
                <td></td>
                <td><div>Alih kredit per SKS (Khusus Mahasiswa Transfer)</div></td>
                <td>15.000</td>
              </tr>
            </tbody>
          </table>
      </ion-card-content>
      
    </ion-card>
</ion-content>
