page-home {
    .content-md {
        background-color: #202f3c;
    }
    .item-md {
        padding-left: 0px;
    }
    .toolbar {
        padding: 0px;
        height: 0px;
        min-height: 50px;
    }
    .toolbar .segment-md {
        margin-bottom: -10px;
        
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0px;;
    }
    .fabs{
        right: 3%;
        bottom: 3%;
        position: fixed;
    }
    .segment-md .segment-button {
        border-bottom-width: 4px;
        color: white;
    }
    .segment-md .segment-button.segment-activated {
        border-color: white;
        opacity: 1;
    }
    .font-12{
        font-size: 12px;
    }
    .font-black{
        color: #000;
    }
    .grid{
        padding: 0px;
    }
    .card-md .item-md.item-block:not(:last-child) .item-inner {
        border-bottom: 1px solid #dedede;
    }
    
    .card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
        border: 0;
    }
    .tabir{
        height: 46px;
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .text-center{
        text-align: center;
    }
    .text-bold{
        font-weight: bold;
    }
    table{
        width: 100%;
    }
    table tr {
        border-bottom: 1px solid #ddd;
    }
    table tr td{
        padding: 10px
    }
    table tr th{
        padding: 10px
    }
    .lulus{
        padding: 5px;
        background-color: rgb(4, 161, 65);
        color: #fff;
        font-weight: 500;
    }
    .gagal{
        padding: 5px;
        background-color: rgb(177, 5, 5);
        color: #fff;
        font-weight: 500;
    }
    .attantion{
        border: 2px solid #b10505;
        padding: 5px;
        margin-top: 20px;
        color: #b10505;
        font-weight: bold;
        text-align: center;
    }
    .no-padding{
        padding: 0px;
    }
    .btn-input{
        padding: 15px;
        font-size: 15px;
    }
}
