<ion-header>
  <ion-navbar no-border-bottom color="color1">
    <ion-title>
      PMB UNIRA
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="color1">
    <ion-segment [(ngModel)]="pmb">
      <ion-segment-button value="beranda" (click)="navClicked()" class="putih">
        Beranda
      </ion-segment-button>
      <ion-segment-button value="daftar" (click)="navClicked()">
        Daftar
      </ion-segment-button>
      <ion-segment-button value="kelulusan" (click)="navClicked()">
        Kelulusan
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pmb">

    <!-- content bernada -->      
    <ion-list *ngSwitchCase="'beranda'">
      <ion-grid>
        <ion-row>
            <ion-col col-6>
              <ion-card (click)="pushPage('fakultas')">
                <ion-card-content class="no-padding">
                  <img src="assets/imgs/fakultas.png" alt="">
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card (click)="pushPage('jalur')">
                <ion-card-content class="no-padding">
                  <img src="assets/imgs/jalur.png" alt="">
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
              <ion-card (click)="pushPage('biaya')">
                <ion-card-content class="no-padding">
                  <img src="assets/imgs/biaya.png" alt="">
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-6>
              <ion-card (click)="pushPage('beasiswa')">                
                <ion-card-content class="no-padding">
                  <img src="assets/imgs/beasiswa.png" alt="">
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <!-- content daftar -->      
    <ion-list *ngSwitchCase="'daftar'">
      <ion-card>
        <ion-card-header>
          <!-- {{status}} -->
        </ion-card-header>
        <ion-card-content >
          
          <div class="pilihan-prodi">
            <ion-item-divider color="light" text-center>Pilihan Prodi</ion-item-divider>
            <!-- prodi1 -->
            <br>
            <ion-item>
              <ion-label>Prodi Pilihan 1</ion-label>
              <ion-select [(ngModel)]="daftar.prodi">
                <ion-option *ngFor="let data of prodiList" value="{{data.id}}">
                {{data.attributes.nama}}
                </ion-option>
              </ion-select>
            </ion-item>
            <!-- prodi 2 -->
            <br>
            <ion-item>
              <ion-label>Prodi Pilihan 2</ion-label>
              <ion-select [(ngModel)]="daftar.prodi2" disabled="{{daftar.prodi == ''}}">
                <ion-option *ngFor="let data of prodiList" value="{{data.id}}">
                {{data.attributes.nama}}
                </ion-option>
              </ion-select>
            </ion-item>
            <!-- masuk -->
            <ion-list radio-group [(ngModel)]="daftar.masuk">
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                    <ion-label>Masuk</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="1" checked></ion-radio>
                      <ion-label>Baru</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="2"></ion-radio>
                      <ion-label>Transfer</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
            <!-- kelas -->
            <ion-list radio-group [(ngModel)]="daftar.kelas">
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                    <ion-label>Kelas</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="1" checked></ion-radio>
                      <ion-label>Pagi</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="2"></ion-radio>
                      <ion-label>Sore</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
          </div>

          <div class="identitas-diri">
            <ion-item-divider color="light" text-center>Identitas Diri</ion-item-divider>
            <!-- nama -->
            <ion-item>
              <ion-label floating>Nama Lengkap</ion-label>
              <ion-input type="text" [(ngModel)]="daftar.nama"></ion-input>
            </ion-item>
            <!-- agama -->
            <br>
            <ion-item>
              <ion-label>Agama</ion-label>
              <ion-select [(ngModel)]="daftar.agama">
                <ion-option value="1">Islam</ion-option>
                <ion-option value="2">Kristen</ion-option>
                <ion-option value="3">Khatolik</ion-option>
                <ion-option value="4">Hindu</ion-option>
                <ion-option value="5">Budha</ion-option>
                <ion-option value="6">Konghuchu</ion-option>
                <ion-option value="7">Lainnya</ion-option>
              </ion-select>
            </ion-item>
            <!-- ktp -->
            <ion-item>
              <ion-label floating>No KTP</ion-label>
              <ion-input type="number" [(ngModel)]="daftar.ktp"></ion-input>
            </ion-item>
            <!-- jeniskelamin -->
            <ion-list radio-group [(ngModel)]="daftar.jeniskelamin">
              <ion-grid>
                <ion-row>
                  <ion-col col-4>
                    <ion-label>Gender</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="L" checked></ion-radio>
                      <ion-label>Pria</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item>
                      <ion-radio value="P"></ion-radio>
                      <ion-label>Wanita</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-list>
            <!-- lahirkota -->
            <br>
            <div>
              <div class="tabir" (click)="search('lahir kota')"></div>
              <ion-item >
                <ion-label>Lahir Kota</ion-label>
                <ion-select [(ngModel)]="daftar.lahirkota">
                  <ion-option selected value="{{daftar.lahirkota}}">{{daftar.lahirkotanama}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <!-- lahirtanggal -->
            <br>
            <ion-item>
              <ion-label floating>Tgl Lahir</ion-label>
              <ion-input type="text" [(ngModel)]="daftar.lahirtanggal" disabled="true"></ion-input>
              <!-- <button clear item-right>Forgot</button> -->
              <button style="padding: 18px 15px; font-size: 15px" ion-button item-right color="color1" (click)="getDate()" ><ion-icon name="calendar"></ion-icon></button>
            </ion-item>
            <!-- alamat -->
            <ion-item>
              <ion-label floating>Alamat</ion-label>
              <ion-input type="text" [(ngModel)]="daftar.alamat"></ion-input>
            </ion-item>
            <!-- kota -->
            <br>
            <div>
              <div class="tabir" (click)="search('asal kota')"></div>
              <ion-item >
                <ion-label>Kota</ion-label>
                <ion-select [(ngModel)]="daftar.kota">
                  <ion-option selected value="{{daftar.kota}}">{{daftar.kotanama}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <!-- kodepos -->
            <ion-item>
              <ion-label floating>Kode Pos</ion-label>
              <ion-input type="number" [(ngModel)]="daftar.kodepos"></ion-input>
            </ion-item>
            <!-- telepon -->
            <ion-item>
              <ion-label floating>No Tlp</ion-label>
              <ion-input type="number" [(ngModel)]="daftar.telepon"></ion-input>
            </ion-item>
            <!-- email -->
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" [(ngModel)]="daftar.email"></ion-input>
            </ion-item>

          </div>

          <div class="sekolah-asal">
            <ion-item-divider color="light" text-center>Sekolah / Universitas Asal</ion-item-divider>
            <!-- smakota -->
            <br>
            <div>
              <div class="tabir" (click)="search('sma kota')"></div>
              <ion-item >
                <ion-label>Kota SMA/MA/PT</ion-label>
                <ion-select [(ngModel)]="daftar.smakota" (ngModelChange)='smaKotaChanged()'>
                  <ion-option selected value="{{daftar.smakota}}">{{daftar.smakotanama}}</ion-option>
                </ion-select>
              </ion-item>
            </div>
            <!-- bentuksekolah -->
            <br>
            <ion-item>
              <ion-label>Bentuk Sekolah</ion-label>
              <ion-select [(ngModel)]="daftar.bentuksekolah" (ngModelChange)='bentuksekolahChanged()' disabled="{{daftar.smakota == ''}}">
                <ion-option value="sma">SMA</ion-option>
                <ion-option value="smk">SMK</ion-option>
                <ion-option value="ma">MA</ion-option>
                <ion-option value="pt">Perguruan Tinggi</ion-option>
              </ion-select>
            </ion-item>
            <!-- smanama -->
            <br>
            <div>
              <div *ngIf="daftar.bentuksekolah != 'pt'">
                <div class="tabir" (click)="search('sma nama')"></div>
                <ion-item >
                  <ion-label>SMA/MA/PT Nama</ion-label>
                  <ion-select [(ngModel)]="daftar.smanama" disabled="{{daftar.bentuksekolah == ''}}">
                    <ion-option selected value="{{daftar.smanama}}">{{daftar.smanama}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div *ngIf="daftar.bentuksekolah == 'pt'">
                <ion-item>
                  <ion-label floating>Nama PT</ion-label>
                  <ion-input type="text" [(ngModel)]="daftar.smanama"></ion-input>
                </ion-item>
              </div>
            </div>
            <!-- smatahun -->
            <ion-item>
              <ion-label floating>Tahun Lulus</ion-label>
              <ion-input type="number" [(ngModel)]="daftar.smatahun"></ion-input>
            </ion-item>
            <!-- jurusan -->
            <ion-item>
              <ion-label floating>Jurusan</ion-label>
              <ion-input type="text" [(ngModel)]="daftar.smajurusan"></ion-input>
            </ion-item>
            <!-- smanilai -->
            <ion-item>
              <ion-label floating>Rata-rata Ijazah/IPK</ion-label>
              <ion-input type="number" [(ngModel)]="daftar.smanilai"></ion-input>
            </ion-item>
            
          </div>
          <div class="attantion">
            Data pendaftar hanya akan diproses apabila sudah ada pembayaran di Sekretariat Pendaftaran Kampus Universitas Madura Jalan Raya Panglegur Km 3,5 Pamekasan
          </div>
          <br>
          <ion-grid>
            <ion-row>
              <ion-col><button ion-button full (click)="btnDaftarReset()" color="color2">Reset</button></ion-col>
              <ion-col><button ion-button full (click)="btnDaftarClicked()" color="color1">Daftar</button></ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-list>

    <!-- content kelulusan -->      
    <ion-list *ngSwitchCase="'kelulusan'">
      <!-- <h1>{{status}}</h1> -->
      <ion-card>
        <ion-card-header>

        </ion-card-header>
        <ion-card-content>
            <h2 class="text-center text-bold">INPUT KODE PENDAFTARAN</h2>
          <ion-item>
            <ion-label floating>Kode Pendaftaran</ion-label>
            <ion-input type="text" [(ngModel)]="kodePengumuman"></ion-input>
            <button style="padding: 17px 15px; font-size: 14px" ion-button item-right color="color1" (click)="getPengumuman(kodePengumuman)" ><ion-icon>Cek</ion-icon></button>
          </ion-item>
          <br>
          <br>
          <h2 class="text-center text-bold">KODE PENDAFTARAN TERSIMPAN</h2>
          <table>
            <thead>
              <tr>
                <th>Nama</th>
                <th>Kode</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let data of kodeList">
                <td>{{data.nama}}</td>
                <td>{{data.kode}}</td>
                <td style="float: right">
                    <button ion-button color="color1" (click)="getPengumuman(data.kode)" ><ion-icon>Cek</ion-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="lulus.status">

        <ion-card-header>
          <h2 class="text-center text-bold">PENGUMUMAN KELULUSAN</h2>
        </ion-card-header>
    
        <ion-card-content>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Kode</th>
                  <th>Nama</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{lulus.kode}}</td>
                  <td>{{lulus.nama}}</td>
                  <td>
                    <span *ngIf="lulus.diterima" class="lulus">Lulus</span>
                    <span *ngIf="!lulus.diterima" class="gagal">Tdk Lulus</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="attantion">
              Aplikasi dikembangkan sebelum pengumuman keluar, mohon melapor jika terjadi kesalahan, silahkan kunjungi website UNIRA untuk informasi yang lebih valid
            </div>
          </div>
          <!-- <div *ngIf="!lulus.status">
              <table>
                <tbody>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td><h2 class="text-center text-bold">BELUM ADA PENGUMUMAN</h2></td>
                  </tr>
                </tbody>
              </table>
              <br>
          </div> -->
        </ion-card-content>
        
      </ion-card>
    </ion-list>

  </div>
</ion-content>