<ion-header>

  <ion-navbar color="color1">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
  <ion-searchbar color="color1" (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item *ngIf="loding">Loading...</ion-item>
      <div *ngIf="mode != 'sma nama'">
        <ion-item (click)="listKabClicked(data.id, data.text)" *ngFor="let data of kabupatenList">{{data.text}}</ion-item>
      </div>
      <div *ngIf="mode == 'sma nama'">
        <ion-item (click)="listKabClicked(data.id, data.attributes.nama)" *ngFor="let data of sekolahList">{{data.attributes.nama}}</ion-item>
      </div>
    </ion-item-group>
  </ion-list>
</ion-content>
