
<ion-header>

  <ion-navbar color="color1">
    <ion-title>Fakultas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- fakultas hukum -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/fh.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Hukum</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Ilmu Hukum</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('fh')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- fakultas ekonomi -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/fe.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Ekonomi</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Manajemen</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-header">
            <h2 class="text-bold">Program Studi Akuntansi</h2>
          </div>
          <div class="prodi-content">
              <p>Akreditasi <b color="color1">B</b></p>
              <hr>
          </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('fe')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- fakultas ilmu admnistrasi  -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/fia.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Ilmu Administrasi</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Ilmu Administrasi Negara</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('fia')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- fakultas keguruan dan ilmu pendidikan -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/fkip.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Keguruan dan Ilmu Pendidikan</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Pend. Bahasa Indonesia</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Pend. Matematika</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Pend. Bahasa Inggris</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('fkip')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- fakultas pertanian -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/fp.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Pertanian</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Peternakan</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">B</b></p>
            <hr>
        </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('fp')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- fakultas teknik -->
  <ion-card>
    <ion-card-header class="no-padding">
      <img src="assets/imgs/ft.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <h1 class="space-1 text-bold text-center">Fakulktas Teknik</h1>
      <hr>
      <div class="prodi">
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Teknik Informatika</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">C / Re Akreditasi 2017</b></p>
            <hr>
        </div>
        <div class="prodi-header">
          <h2 class="text-bold">Program Studi Teknik Sipil</h2>
        </div>
        <div class="prodi-content">
            <p>Akreditasi <b color="color1">C / Re Akreditasi 2017</b></p>
            <hr>
        </div>
        <div class="prodi-footer">
          <ion-badge item-end color="color1" (click)="visitProdi('ft')">
            Kunjungi <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
