page-fakultas {
    .content-md {
        background-color: #f4f4f4;
    }
    .no-padding{
        padding: 0px;
    }
    .space-1{
        margin: 10px;
    }
    .space-2{
        margin: 20px;
    }
    .space-2{
        margin: 20px;
    }
    .text-center{
        text-align: center;
    }
    .text-bold{
        font-weight: bold;
    }
    .prodi-header{
        text-align: center;
        font-weight: bold;
    }
    .prodi-content{
        text-align: center;
    }
    .prodi-footer{
        text-align: right;
    }
}
